NEXT_PUBLIC_APP_URL=http://localhost:3000
WHOP_API_KEY=your_company_api_key
WHOP_WEBHOOK_SECRET=your_whop_webhook_secret
WHOP_COMPANY_ID=biz_xxxxxxxxxxxxx
WHOP_PLAN_14=plan_xxxxxxxxxxxxx
WHOP_PLAN_17=plan_xxxxxxxxxxxxx
WHOP_PLAN_36=plan_xxxxxxxxxxxxx
WHOP_PLAN_65=plan_xxxxxxxxxxxxx
WHOP_PLAN_105=plan_xxxxxxxxxxxxx
EXTERNAL_DELIVERY_WEBHOOK_URL=https://external.example.com/api/delivery
EXTERNAL_DELIVERY_WEBHOOK_TOKEN=optional_shared_secret
