APP_BASE_URL=http://localhost:8000
WHOP_API_BASE_URL=https://api.whop.com/api/v5
WHOP_API_KEY=your_whop_api_key
WHOP_COMPANY_ID=biz_xxxxxxxxxxxxx
WHOP_PLAN_14=plan_xxxxxxxxxxxxx
WHOP_PLAN_17=plan_xxxxxxxxxxxxx
WHOP_PLAN_36=plan_xxxxxxxxxxxxx
WHOP_PLAN_65=plan_xxxxxxxxxxxxx
WHOP_PLAN_105=plan_xxxxxxxxxxxxx
WHOP_WEBHOOK_SECRET=your_whop_webhook_secret
EXTERNAL_DELIVERY_WEBHOOK_URL=https://external.example.com/delivery
EXTERNAL_DELIVERY_WEBHOOK_TOKEN=optional_shared_secret
